@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 400;
  src: local("PT Serif Italic"), local(PTSerif-Italic), url(//fonts.gstatic.com/s/ptserif/v9/EJRTQgYoZZY2vCFuvAFT_r21dg.eot?#) format("eot"), url(//fonts.gstatic.com/s/ptserif/v9/EJRTQgYoZZY2vCFuvAFT_r21cg.woff2) format("woff2"), url(//fonts.gstatic.com/s/ptserif/v9/EJRTQgYoZZY2vCFuvAFT_r21dA.woff) format("woff");
}

@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  src: local("PT Serif Bold Italic"), local(PTSerif-BoldItalic), url(//fonts.gstatic.com/s/ptserif/v9/EJRQQgYoZZY2vCFuvAFT9gaQZynfpA.eot?#) format("eot"), url(//fonts.gstatic.com/s/ptserif/v9/EJRQQgYoZZY2vCFuvAFT9gaQZynfoA.woff2) format("woff2"), url(//fonts.gstatic.com/s/ptserif/v9/EJRQQgYoZZY2vCFuvAFT9gaQZynfpg.woff) format("woff");
}

@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  src: local("PT Serif"), local(PTSerif-Regular), url(//fonts.gstatic.com/s/ptserif/v9/EJRVQgYoZZY2vCFuvAFWzrs.eot?#) format("eot"), url(//fonts.gstatic.com/s/ptserif/v9/EJRVQgYoZZY2vCFuvAFWzr8.woff2) format("woff2"), url(//fonts.gstatic.com/s/ptserif/v9/EJRVQgYoZZY2vCFuvAFWzrk.woff) format("woff");
}

@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  src: local("PT Serif Bold"), local(PTSerif-Bold), url(//fonts.gstatic.com/s/ptserif/v9/EJRSQgYoZZY2vCFuvAnt66qSVy8.eot?#) format("eot"), url(//fonts.gstatic.com/s/ptserif/v9/EJRSQgYoZZY2vCFuvAnt66qSVys.woff2) format("woff2"), url(//fonts.gstatic.com/s/ptserif/v9/EJRSQgYoZZY2vCFuvAnt66qSVy0.woff) format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: local("PT Sans Italic"), local(PTSans-Italic), url(//fonts.gstatic.com/s/ptsans/v9/jizYRExUiTo99u79D0e0x8mM.eot?#) format("eot"), url(//fonts.gstatic.com/s/ptsans/v9/jizYRExUiTo99u79D0e0x8mI.woff2) format("woff2"), url(//fonts.gstatic.com/s/ptsans/v9/jizYRExUiTo99u79D0e0x8mO.woff) format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: local("PT Sans Bold Italic"), local(PTSans-BoldItalic), url(//fonts.gstatic.com/s/ptsans/v9/jizdRExUiTo99u79D0e8fOydLxUZ.eot?#) format("eot"), url(//fonts.gstatic.com/s/ptsans/v9/jizdRExUiTo99u79D0e8fOydLxUd.woff2) format("woff2"), url(//fonts.gstatic.com/s/ptsans/v9/jizdRExUiTo99u79D0e8fOydLxUb.woff) format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local(PTSans-Regular), url(//fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KEwQ.eot?#) format("eot"), url(//fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KExQ.woff2) format("woff2"), url(//fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KEww.woff) format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local(PTSans-Bold), url(//fonts.gstatic.com/s/ptsans/v9/jizfRExUiTo99u79B_mh0O6tKQ.eot?#) format("eot"), url(//fonts.gstatic.com/s/ptsans/v9/jizfRExUiTo99u79B_mh0O6tLQ.woff2) format("woff2"), url(//fonts.gstatic.com/s/ptsans/v9/jizfRExUiTo99u79B_mh0O6tKw.woff) format("woff");
}
@import url(http://allfont.ru/allfont.css?fonts=pt-sans);
@import url(http://allfont.ru/allfont.css?fonts=pt-serif);

html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  text-align: left;
  vertical-align: baseline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

input {
  outline: none;
}

input:hover,
input:focus,
input:active {
  outline: none;
}

textarea {
  outline: none;
}

textarea:hover,
textarea:focus,
textarea:active {
  outline: none;
}

.container {
  *zoom: 1;
}

.container:after {
  content: '';
  display: table;
  line-height: 0;
  clear: both;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    width: 766px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1280px;
  }
}

.header {
  position: relative;
  float: left;
  width: 100%;
}

.header__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-right: 78px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .header__language {
    padding-bottom: 20px;
  }
}

@media (max-width: 320px) {
  .header__language {
    padding-bottom: 0;
    padding-right: 5px;
  }
}

.header__language-type {
  position: relative;
  float: left;
  width: 22px;
  margin-left: 6px;
  font-family: "PT Sans", arial;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;
}

@media (max-width: 320px) {
  .header__language-type {
    font-size: 7px;
    margin-left: 0;
  }
}

.header__language-type--mod {
  color: #ff351b;
}

.header__logo {
  float: left;
  width: 157px;
  height: 44px;
  overflow: hidden;
  margin-left: 77px;
}

@media (max-width: 1024px) {
  .header__logo {
    width: 101px;
    height: 49px;
    padding-top: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .header__logo {
    width: 119px;
    height: 58px;
    margin-left: 30px;
  }
}

@media (max-width: 320px) {
  .header__logo {
    margin-left: 10px;
  }
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.header__menu {
  position: relative;
  float: left;
  width: -webkit-calc(100% - 235px);
  width: calc(100% - 235px);
  padding-top: 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .header__menu {
    width: -webkit-calc(100% - 160px);
    width: calc(100% - 160px);
  }
}

@media (max-width: 320px) {
  .header__menu {
    width: 100%;
    padding-top: 0;
  }
}

.header__menu-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  list-style: none;
  padding-right: 137px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .header__menu-list {
    padding-right: 70px;
    top: 12px;
  }
}

@media (max-width: 768px) {
  .header__menu-list {
    padding-right: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media (max-width: 320px) {
  .header__menu-list {
    padding-left: 0;
  }
}

.header__menu-list li {
  margin-left: 33px;
}

@media (max-width: 320px) {
  .header__menu-list li {
    margin-left: 12px;
  }
}

.header__menu-list li a {
  position: relative;
  width: 100%;
  font-size: 20px;
  font-family: "PT Sans", arial;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

@media (max-width: 1024px) {
  .header__menu-list li a {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .header__menu-list li a {
    font-size: 9px;
  }
}

.header__menu-list li a:before {
  position: absolute;
  display: inline;
  content: "";
  width: 1px;
  height: 19px;
  background-color: black;
  right: -15px;
  top: 3px;
}

@media (max-width: 1024px) {
  .header__menu-list li a:before {
    height: 11px;
  }
}

@media (max-width: 320px) {
  .header__menu-list li a:before {
    right: -6px;
    top: 0;
  }
}

.header__search {
  position: absolute;
  right: 85px;
  top: 97px;
  overflow: hidden;
  width: 21px;
  height: 20px;
}

@media (max-width: 1024px) {
  .header__search {
    top: 90px;
  }
}

@media (max-width: 768px) {
  .header__search {
    right: 35px;
  }
}

@media (max-width: 320px) {
  .header__search {
    right: 17px;
    top: 51px;
  }
}

.header__search img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.baner {
  position: relative;
  float: left;
  width: 100%;
  height: 690px;
  margin-top: 20px;
  background-image: url("../img/baner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.baner__numbers {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  top: 320px;
  left: 156px;
  color: white;
}

@media (max-width: 320px) {
  .baner__numbers {
    left: 10px;
  }
}

.baner__numbers-elem {
  position: relative;
  float: left;
  font-family: "PT Sans", arial;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-right: 16px;
}

.baner__numbers-elem:before {
  position: absolute;
  display: inline;
  content: "";
  width: 2px;
  height: 23px;
  background-color: #ff351b;
  left: 18px;
  top: 1px;
}

.baner__numbers-elem:last-of-type:before {
  display: none;
}

.baner__description {
  position: absolute;
  top: 365px;
  left: 170px;
}

@media (max-width: 320px) {
  .baner__description {
    left: 14px;
  }
}

.baner__description-elem {
  font-family: "PT Serif", arial;
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .baner__description-elem {
    font-size: 28px;
  }
}

.baner__description-elem:before {
  position: absolute;
  content: "";
  display: inline;
  width: 2px;
  height: 45px;
  background-color: #ff351b;
  top: 100%;
  left: 6px;
}

.baner__more {
  position: absolute;
  top: 583px;
  left: 173px;
}

@media (max-width: 1024px) {
  .baner__more {
    top: 517px;
  }
}

@media (max-width: 320px) {
  .baner__more {
    top: 547px;
    left: 17px;
  }
}

.baner__more-elem {
  font-family: "PT Serif", arial;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff351b;
}

@media (max-width: 1024px) {
  .baner__more-elem {
    font-size: 14px;
  }
}

.baner__group {
  position: absolute;
  top: 114px;
  right: 113px;
  width: 243px;
  height: 471px;
  overflow: hidden;
}

@media (max-width: 320px) {
  .baner__group {
    right: 20px;
    width: 168px;
  }
}

.baner__group img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.baner__arrow {
  position: absolute;
  top: 338px;
  right: 80px;
}

@media (max-width: 320px) {
  .baner__arrow {
    right: 16px;
  }
}

.reason {
  position: relative;
  float: left;
  width: 100%;
}

.reason__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 90px;
  margin-bottom: 90px;
}

.reason__box-description {
  font-family: "PT Serif", arial;
  font-size: 34px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #636363;
  margin-left: 76px;
}

@media (max-width: 1024px) {
  .reason__box-description {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .reason__box-description {
    margin-left: 22px;
  }
}

.reason__box-elem {
  position: relative;
  font-family: "PT Sans", arial;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #ff351b;
  margin-left: 84px;
  margin-top: 11px;
}

@media (max-width: 1024px) {
  .reason__box-elem {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .reason__box-elem {
    margin-left: 45px;
  }
}

@media (max-width: 320px) {
  .reason__box-elem {
    margin-left: 0;
  }
}

.reason__box-elem:before {
  position: absolute;
  display: inline;
  content: "";
  width: 330px;
  height: 2px;
  background-color: #ababab;
  top: 40px;
}

@media (max-width: 1024px) {
  .reason__box-elem:before {
    width: 193px;
  }
}

@media (max-width: 320px) {
  .reason__box-elem:before {
    width: 130px;
  }
}

.reason__box-elem:after {
  position: absolute;
  display: block;
  content: "";
  width: 17px;
  height: 10px;
  background-image: url("../img/group-5.png");
  background-repeat: no-repeat;
  right: -100%;
  top: 20px;
}

@media (max-width: 1024px) {
  .reason__box-elem:after {
    top: 7px;
  }
}

@media (max-width: 320px) {
  .reason__box-elem:after {
    right: -36%;
  }
}

.reason__box-elem--mod {
  margin-left: 218px;
}

@media (max-width: 768px) {
  .reason__box-elem--mod {
    margin-left: 145px;
  }
}

@media (max-width: 320px) {
  .reason__box-elem--mod {
    margin-left: 60px;
  }
}

.reason__box-elem--mod:after {
  position: absolute;
  display: block;
  content: "";
  width: 17px;
  height: 10px;
  background-image: url("../img/group-5.png");
  background-repeat: no-repeat;
  right: -112%;
  top: 20px;
}

@media (max-width: 1024px) {
  .reason__box-elem--mod:after {
    top: 7px;
  }
}

@media (max-width: 320px) {
  .reason__box-elem--mod:after {
    right: -41%;
  }
}

.rosa {
  position: relative;
  float: left;
  width: 100%;
  height: 394px;
  background-color: #636363;
}

.rosa__title {
  position: absolute;
  top: 60px;
  left: 170px;
  font-family: "PT Serif", arial;
  font-size: 34px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .rosa__title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .rosa__title {
    left: 110px;
  }
}

@media (max-width: 320px) {
  .rosa__title {
    left: 10px;
  }
}

.rosa__descr {
  position: absolute;
  top: 125px;
  left: 363px;
  font-family: "PT Sans", arial;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .rosa__descr {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .rosa__descr {
    left: 280px;
  }
}

@media (max-width: 320px) {
  .rosa__descr {
    left: 10px;
  }
}

.rosa__sub-descr {
  position: absolute;
  top: 210px;
  left: 364px;
  font-family: "PT Serif", arial;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .rosa__sub-descr {
    font-size: 11px;
  }
}

@media (max-width: 768px) {
  .rosa__sub-descr {
    left: 280px;
  }
}

@media (max-width: 320px) {
  .rosa__sub-descr {
    left: 10px;
  }
}

.rosa__sub-descr:before {
  position: absolute;
  display: inline;
  content: "";
  width: 2px;
  height: 39px;
  background-color: #ff351b;
  right: -13px;
  top: 66px;
}

@media (max-width: 320px) {
  .rosa__sub-descr:before {
    right: 5px;
  }
}

.rosa__more {
  position: absolute;
  top: 332px;
  right: 240px;
  font-family: "PT Sans", arial;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #ffffff;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .rosa__more {
    font-size: 6px;
  }
}

@media (max-width: 768px) {
  .rosa__more {
    right: 12%;
  }
}

.gerry {
  position: relative;
  float: left;
  width: 100%;
}

.gerry__title {
  position: relative;
  margin-top: 60px;
  margin-left: 170px;
  font-family: "PT Sans", arial;
  font-size: 34px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #636363;
}

@media (max-width: 1024px) {
  .gerry__title {
    font-size: 24px;
  }
}

@media (max-width: 320px) {
  .gerry__title {
    margin-left: 0;
  }
}

.gerry__slider {
  position: relative;
  float: left;
  width: 100%;
  margin-left: 149px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .gerry__slider {
    margin-left: 60px;
  }
}

@media (max-width: 320px) {
  .gerry__slider {
    margin-top: 0;
  }
}

@media (max-width: 320px) {
  .gerry__slider {
    margin-left: 23px;
  }
}

.gerry__slide {
  position: relative;
  float: left;
}

.gerry__slide-img {
  position: relative;
  width: 1131px;
  height: 564px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .gerry__slide-img {
    width: 678px;
    height: 338px;
  }
}

@media (max-width: 320px) {
  .gerry__slide-img {
    width: 257px;
    height: 338px;
  }
}

.gerry__slide-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.gerry__slide-elem {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 20%;
}

@media (max-width: 1024px) {
  .gerry__slide-elem {
    left: 16%;
  }
}

@media (max-width: 768px) {
  .gerry__slide-elem {
    left: 21%;
  }
}

@media (max-width: 320px) {
  .gerry__slide-elem {
    display: none;
  }
}

.gerry__slide-elem:nth-of-type(2) {
  left: 48%;
}

@media (max-width: 1024px) {
  .gerry__slide-elem:nth-of-type(2) {
    left: 38%;
  }
}

@media (max-width: 768px) {
  .gerry__slide-elem:nth-of-type(2) {
    left: 49%;
  }
}

@media (max-width: 320px) {
  .gerry__slide-elem:nth-of-type(2) {
    display: none;
  }
}

.gerry__slide-elem:nth-of-type(3) {
  left: 77%;
}

@media (max-width: 1024px) {
  .gerry__slide-elem:nth-of-type(3) {
    left: 60%;
  }
}

@media (max-width: 768px) {
  .gerry__slide-elem:nth-of-type(3) {
    left: 77%;
  }
}

@media (max-width: 320px) {
  .gerry__slide-elem:nth-of-type(3) {
    display: none;
  }
}

.gerry__slide-title {
  font-family: "PT Sans", arial;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

@media (max-width: 1024px) {
  .gerry__slide-title {
    font-size: 10px;
  }
}

.gerry__slide-title:before {
  position: absolute;
  display: inline;
  content: "";
  height: 12px;
  width: 2px;
  background-color: orangered;
  top: 45px;
}

@media (max-width: 1024px) {
  .gerry__slide-title:before {
    top: 27px;
  }
}

.gerry__slide-author {
  font-family: "PT Sans", arial;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-top: 16px;
}

@media (max-width: 1024px) {
  .gerry__slide-author {
    font-size: 6px;
  }
}

.slick-prev:before {
  position: absolute;
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/icons/arrow-prev.png");
  width: 10px;
  height: 17px;
  top: -80px;
  left: -40px;
}

@media (max-width: 320px) {
  .slick-prev:before {
    left: 5%;
  }
}

.slick-next {
  right: 0;
}

@media (max-width: 320px) {
  .slick-next {
    right: 15%;
  }
}

.slick-next:before {
  position: absolute;
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/icons/arrow-next.png");
  width: 10px;
  height: 17px;
  top: -80px;
  right: 250px;
  z-index: 1;
}

@media (max-width: 768px) {
  .slick-next:before {
    right: 150px;
  }
}

@media (max-width: 320px) {
  .slick-next:before {
    right: 5%;
  }
}

.count {
  position: relative;
  float: left;
  width: 100%;
  height: 210px;
  background-color: orangered;
  margin-top: -30px;
}

.count__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.count__elem {
  position: relative;
  float: left;
  width: 30%;
  margin-top: 60px;
}

.count__elem:nth-of-type(2):before {
  left: 80px;
}

@media (max-width: 1024px) {
  .count__elem:nth-of-type(2):before {
    left: 52px;
  }
}

.count__elem:nth-of-type(3):before {
  left: 80px;
}

@media (max-width: 1024px) {
  .count__elem:nth-of-type(3):before {
    left: 52px;
  }
}

.count__elem:before {
  position: absolute;
  display: inline;
  content: "";
  width: 1px;
  height: 63px;
  background-color: white;
  left: 120px;
  top: 14px;
}

@media (max-width: 320px) {
  .count__elem:before {
    display: none;
  }
}

@media (max-width: 1024px) {
  .count__elem:before {
    height: 38px;
    left: 77px;
    top: 11px;
  }
}

.count__num {
  position: relative;
  float: left;
  font-family: "PT Sans", arial;
  font-size: 70px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-right: 16px;
}

@media (max-width: 1024px) {
  .count__num {
    font-size: 42px;
  }
}

.count__descr {
  position: relative;
  float: left;
  margin-top: 15px;
  font-family: "PT Sans", arial;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .count__descr {
    font-size: 14px;
  }
}

.money {
  position: relative;
  float: left;
  width: 100%;
  height: 589px;
  background-image: url("../img/second-section.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.money__text-wrapper {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 60px;
  margin-left: 170px;
}

@media (max-width: 320px) {
  .money__text-wrapper {
    margin-left: 0;
  }
}

.money__title {
  position: relative;
  float: left;
  width: 100%;
  font-family: "PT Sans", arial;
  font-size: 34px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
}

.money__descr {
  position: relative;
  float: left;
  width: 100%;
  font-family: "PT Sans", arial;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: orangered;
  margin-top: 80px;
  margin-bottom: 10px;
}

.money__sub-descr {
  position: relative;
  float: left;
  width: 100%;
  font-family: "PT Sans", arial;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #ffffff;
}

.money__arrow {
  position: absolute;
  top: 174px;
  right: 80px;
  overflow: hidden;
  width: 10px;
  height: 20px;
}

@media (max-width: 1024px) {
  .money__arrow {
    right: 20%;
  }
}

@media (max-width: 768px) {
  .money__arrow {
    right: 30%;
  }
}

.money__arrow img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.tips {
  position: relative;
  float: left;
  width: 100%;
}

.tips__box-tricks {
  position: relative;
  float: left;
  width: 50%;
  height: 500px;
  padding-left: 280px;
  padding-top: 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #636363;
}

@media (max-width: 1024px) {
  .tips__box-tricks {
    padding-left: 100px;
  }
}

@media (max-width: 320px) {
  .tips__box-tricks {
    width: 100%;
    padding-left: 21px;
  }
}

.tips__box-tricks-title {
  position: relative;
  float: left;
  width: 100%;
  font-family: "PT Serif", arial;
  font-size: 34px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 64px;
}

@media (max-width: 768px) {
  .tips__box-tricks-title {
    font-size: 24px;
  }
}

.tips__box-tricks-img {
  position: relative;
  float: left;
  width: 300px;
  height: 212px;
  overflow: hidden;
  margin-bottom: 13px;
}

@media (max-width: 768px) {
  .tips__box-tricks-img {
    width: 183px;
    height: 129px;
  }
}

@media (max-width: 320px) {
  .tips__box-tricks-img {
    width: 279px;
    height: 196px;
  }
}

.tips__box-tricks-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.tips__box-tricks-place {
  position: relative;
  float: left;
  width: 100%;
  font-family: "PT Sans", arial;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.89;
  letter-spacing: normal;
  color: #ffffff;
}

@media (max-width: 768px) {
  .tips__box-tricks-place {
    font-size: 11px;
  }
}

.tips__arrow {
  position: absolute;
  top: 163px;
  right: 50px;
}

@media (max-width: 320px) {
  .tips__arrow {
    display: none;
  }
}

.tips__arrow--mod {
  left: 55%;
}

@media (max-width: 1024px) {
  .tips__arrow--mod {
    left: 85%;
  }
}

.tips__box-lifts {
  position: relative;
  float: left;
  width: 50%;
  height: 500px;
  padding-top: 60px;
  padding-left: 101px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #dddddd;
}

@media (max-width: 320px) {
  .tips__box-lifts {
    width: 100%;
    padding-left: 21px;
  }
}

.tips__box-lifts-title {
  position: relative;
  float: left;
  width: 100%;
  font-family: "PT Serif", arial;
  font-size: 34px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #636363;
  margin-bottom: 62px;
}

@media (max-width: 768px) {
  .tips__box-lifts-title {
    font-size: 24px;
  }
}

.tips__box-lifts-descr {
  position: relative;
  float: left;
  width: 100%;
  font-family: "PT Sans", arial;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.77;
  letter-spacing: normal;
  color: orangered;
  margin-bottom: 28px;
}

@media (max-width: 768px) {
  .tips__box-lifts-descr {
    font-size: 18px;
  }
}

.tips__box-lifts-sub-descr {
  position: relative;
  float: left;
  width: 100%;
  font-family: "PT Sans", arial;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #373737;
}

@media (max-width: 768px) {
  .tips__box-lifts-sub-descr {
    font-size: 11px;
  }
}

.rebec {
  position: relative;
  float: left;
  width: 100%;
  height: 580px;
  background-image: url("../img/third-section.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.rebec__box {
  position: relative;
  float: left;
  width: 100%;
  padding-top: 60px;
  padding-left: 171px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.rebec__box-title {
  position: relative;
  float: left;
  width: 100%;
  font-family: "PT Sans", arial;
  font-size: 34px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #2b2828;
  margin-bottom: 80px;
}

.rebec__box-descr {
  position: relative;
  float: left;
  width: 100%;
  font-family: "PT Sans", arial;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: orangered;
  margin-bottom: 10px;
}

.rebec__box-sub-descr {
  position: relative;
  float: left;
  width: 100%;
  font-family: "PT Sans", arial;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 44px;
}

.rebec__box-sub-descr:before {
  position: absolute;
  display: inline;
  content: "";
  width: 2px;
  height: 39px;
  background-color: orangered;
  left: 33.5%;
  top: 95%;
}

.rebec__box-more {
  position: relative;
  float: left;
  font-family: "PT Sans", arial;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #ffffff;
  left: 300px;
  text-transform: uppercase;
}

.footer {
  position: relative;
  float: left;
  width: 100%;
  background-color: #636363;
}

.footer__box {
  position: relative;
  float: left;
  width: 100%;
  padding-top: 60px;
  padding-left: 78px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer__box-elem {
  position: relative;
  float: left;
  width: 20%;
}

.footer__box-title {
  position: relative;
  float: left;
  width: 100%;
  font-family: "PT Sans", arial;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 22px;
}

.footer__box-division {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer__box-division li {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 5px;
}

.footer__box-division li a {
  position: relative;
  float: left;
  width: 100%;
  font-family: "PT Sans", arial;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #b0afaf;
}

.footer__box-division li a:after {
  position: absolute;
  display: inline;
  content: "";
  width: 11px;
  height: 2px;
  background-color: orangered;
  left: -20px;
  top: 12px;
}

.footer__box-adress {
  position: relative;
  float: left;
  width: 100%;
  font-family: "PT Sans", arial;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #b0afaf;
  margin-bottom: 24px;
}

.footer__box-phone {
  position: relative;
  float: left;
  width: 100%;
  font-family: "PT Sans", arial;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #b0afaf;
}

.footer__sub-box {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 56px;
}

.footer__line {
  position: relative;
  float: left;
  width: 80%;
  padding-left: 78px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer__line-elem {
  position: relative;
  float: left;
  width: 2px;
  height: 36px;
  background-color: orangered;
}

.footer__line-elem:nth-of-type(2) {
  left: 176px;
}

.footer__line-elem:nth-of-type(3) {
  left: 301px;
}

.footer__line-elem:nth-of-type(4) {
  left: 400px;
}

.footer__line-elem:nth-of-type(5) {
  left: 474px;
}

.footer__line-elem:nth-of-type(6) {
  left: 496px;
}

.footer__line-elem:nth-of-type(7) {
  left: 518px;
}

.footer__line-elem:nth-of-type(8) {
  left: 540px;
}

.footer__social {
  position: relative;
  float: left;
  width: 20%;
}

.footer__social-descr {
  position: relative;
  float: left;
  width: 100px;
  font-family: "PT Sans", arial;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
}

.footer__social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.footer__social-box--img {
  position: relative;
  float: left;
  width: 20px;
  height: 20px;
  overflow: hidden;
  margin-right: 24px;
}

.footer__social-box--img:first-of-type {
  margin-left: 20px;
}

.footer__social-box--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.footer__copyright {
  position: relative;
  float: left;
  width: 100%;
  padding-left: 77px;
  padding-top: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer__copyright-elem {
  position: relative;
  float: left;
  width: 220px;
  font-family: "PT Sans", arial;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b0afaf;
}

.footer__bottom-bg {
  position: relative;
  float: left;
  width: 100%;
  height: 10px;
  background-color: orangered;
}

/*# sourceMappingURL=styles.css.map */
