@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: local("PT Sans Italic"), local(PTSans-Italic), url(//fonts.gstatic.com/s/ptsans/v9/jizYRExUiTo99u79D0e0x8mM.eot?#) format("eot"), url(//fonts.gstatic.com/s/ptsans/v9/jizYRExUiTo99u79D0e0x8mI.woff2) format("woff2"), url(//fonts.gstatic.com/s/ptsans/v9/jizYRExUiTo99u79D0e0x8mO.woff) format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: local("PT Sans Bold Italic"), local(PTSans-BoldItalic), url(//fonts.gstatic.com/s/ptsans/v9/jizdRExUiTo99u79D0e8fOydLxUZ.eot?#) format("eot"), url(//fonts.gstatic.com/s/ptsans/v9/jizdRExUiTo99u79D0e8fOydLxUd.woff2) format("woff2"), url(//fonts.gstatic.com/s/ptsans/v9/jizdRExUiTo99u79D0e8fOydLxUb.woff) format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local(PTSans-Regular), url(//fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KEwQ.eot?#) format("eot"), url(//fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KExQ.woff2) format("woff2"), url(//fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KEww.woff) format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local(PTSans-Bold), url(//fonts.gstatic.com/s/ptsans/v9/jizfRExUiTo99u79B_mh0O6tKQ.eot?#) format("eot"), url(//fonts.gstatic.com/s/ptsans/v9/jizfRExUiTo99u79B_mh0O6tLQ.woff2) format("woff2"), url(//fonts.gstatic.com/s/ptsans/v9/jizfRExUiTo99u79B_mh0O6tKw.woff) format("woff");
}
@import url(http://allfont.ru/allfont.css?fonts=pt-sans);

html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  text-align: left;
  vertical-align: baseline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

input {
  outline: none;
}

input:hover,
input:focus,
input:active {
  outline: none;
}

textarea {
  outline: none;
}

textarea:hover,
textarea:focus,
textarea:active {
  outline: none;
}

.container {
  *zoom: 1;
}

.container:after {
  content: '';
  display: table;
  line-height: 0;
  clear: both;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    width: 766px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1280px;
  }
}

.header {
  position: relative;
  float: left;
  width: 100%;
}

.header__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-right: 78px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header__language-type {
  position: relative;
  float: left;
  width: 22px;
  margin-left: 6px;
  font-family: "PT Sans", arial;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;
}

.header__language-type--mod {
  color: #ff351b;
}

.header__logo {
  float: left;
  width: 157px;
  height: 44px;
  overflow: hidden;
  margin-left: 77px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.header__menu {
  position: relative;
  float: left;
  width: -webkit-calc(100% - 235px);
  width: calc(100% - 235px);
  padding-top: 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header__menu-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  list-style: none;
  padding-right: 137px;
}

.header__menu-list li {
  margin-left: 33px;
}

.header__menu-list li a {
  position: relative;
  width: 100%;
  font-size: 20px;
  font-family: "PT Sans", arial;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.header__menu-list li a:before {
  position: absolute;
  display: inline;
  content: "";
  width: 1px;
  height: 19px;
  background-color: black;
  right: -15px;
  top: 3px;
}

.header__search {
  position: absolute;
  right: 85px;
  top: 97px;
  overflow: hidden;
  width: 21px;
  height: 20px;
}

.header__search img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.baner {
  position: relative;
  float: left;
  width: 100%;
  height: 100vh;
  margin-top: 20px;
  background-image: url("../img/baner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.baner__numbers {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  top: 320px;
  left: 156px;
  color: white;
}

.baner__numbers-elem {
  position: relative;
  float: left;
  font-family: "PT Sans", arial;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-right: 16px;
}

.baner__numbers-elem:before {
  position: absolute;
  display: inline;
  content: "";
  width: 2px;
  height: 23px;
  background-color: #ff351b;
  left: 18px;
  top: 1px;
}

.baner__numbers-elem:last-of-type:before {
  display: none;
}

.baner__description {
  position: absolute;
  top: 365px;
  left: 170px;
}

.baner__description-elem {
  font-family: "PT Sans", arial;
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
}

.baner__description-elem:before {
  position: absolute;
  content: "";
  display: inline;
  width: 2px;
  height: 45px;
  background-color: #ff351b;
  top: 100%;
  left: 6px;
}

.baner__more {
  position: absolute;
  top: 583px;
  left: 173px;
}

.baner__more-elem {
  font-family: "PT Sans", arial;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff351b;
}

.baner__group {
  position: absolute;
  top: 114px;
  right: 113px;
  width: 243px;
  height: 471px;
  overflow: hidden;
}

.baner__group img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.baner__arrow {
  position: absolute;
  top: 338px;
  right: 80px;
}

.reason {
  position: relative;
  float: left;
  width: 100%;
}

.reason__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 90px;
  margin-bottom: 90px;
}

.reason__box-description {
  font-family: "PT Sans", arial;
  font-size: 34px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #636363;
  margin-left: 76px;
}

.reason__box-elem {
  position: relative;
  font-family: "PT Sans", arial;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #ff351b;
  margin-left: 84px;
  margin-top: 11px;
}

.reason__box-elem:before {
  position: absolute;
  display: inline;
  content: "";
  width: 330px;
  height: 2px;
  background-color: #ababab;
  top: 40px;
}

.reason__box-elem:after {
  position: absolute;
  display: block;
  content: "";
  width: 17px;
  height: 10px;
  background-image: url("../img/group-5.png");
  background-repeat: no-repeat;
  right: -100%;
  top: 20px;
}

.reason__box-elem--mod {
  margin-left: 218px;
}

.reason__box-elem--mod:after {
  position: absolute;
  display: block;
  content: "";
  width: 17px;
  height: 10px;
  background-image: url("../img/group-5.png");
  background-repeat: no-repeat;
  right: -112%;
  top: 20px;
}

/*# sourceMappingURL=styles.css.map */
