section.baner
    .container
        .baner__numbers
            span.baner__numbers-elem
                | 1

            span.baner__numbers-elem
                | 7

        .baner__description
            p.baner__description-elem
                | Success Steps For Your
                br
                |Personal Or Business Life
                br
                |Success Steps For Your

        .baner__more
            p.baner__more-elem
                | Подробнее

        .baner__group
            img(src="img/group-7.png")

        .baner__arrow
            img(src="img/icons/arrow-next.png")
