section.count
    .container
        .count__box
            .count__elem
                span.count__num
                    | 250

                p.count__descr
                    | A Brief History
                    br
                    | Of Anesthetics

            .count__elem
                span.count__num
                    | 65

                p.count__descr
                    | Old Fashioned Recipe
                    br
                    | For Preventing Allergies

            .count__elem
                span.count__num
                    | 80

                p.count__descr
                    |Home Remedies
                    br
                    | For Boils