footer.footer
    .container
        .footer__box
            .footer__box-elem
                h3.footer__box-title
                    | Раздел №1

                ul.footer__box-division
                    li
                        a(href="#")
                            | Раздел 1
                    li
                        a(href="#")
                            | Раздел 2
                    li
                        a(href="#")
                            | Раздел 3
                    li
                        a(href="#")
                            | Раздел 4
                    li
                        a(href="#")
                            | Раздел 5
                    li
                        a(href="#")
                            | Раздел 6
                    li
                        a(href="#")
                            | Раздел 7

            .footer__box-elem
                h3.footer__box-title
                    | Раздел №2

                ul.footer__box-division
                    li
                        a(href="#")
                            | Раздел 1
                    li
                        a(href="#")
                            | Раздел 2

            .footer__box-elem
                h3.footer__box-title
                    | Раздел №3

            .footer__box-elem
                h3.footer__box-title
                    | Раздел №4

            .footer__box-elem
                h3.footer__box-title
                    | Раздел №5

                p.footer__box-adress
                    | 5658 Morton Ford
                    br
                    | Suite 741

                span.footer__box-phone
                    | mail@gmail.com
                    br
                    |  Т: +7 000 000 00 00
                    br
                    |  Т: +7 000 000 00 00
                    br
                    |  Ф: +7 000 000 00 00


        .footer__sub-box
            .footer__line
                span.footer__line-elem

                span.footer__line-elem

                span.footer__line-elem

                span.footer__line-elem

                span.footer__line-elem

                span.footer__line-elem

                span.footer__line-elem

                span.footer__line-elem

            .footer__social
                p.footer__social-descr
                    | Подписаться
                    br
                    | на рассылки

                .footer__social-box
                    .footer__social-box--img
                        img(src="img/icons/fill-1.png")

                    .footer__social-box--img
                        img(src="img/icons/twit.png")

                    .footer__social-box--img
                        img(src="img/icons/google.png")

            .footer__copyright
                p.footer__copyright-elem
                    | ЛОГО © 2018. Все права защищены.

                p.footer__copyright-elem
                    | Политика конфиденциальности

                p.footer__copyright-elem
                    | Условия пользования сайтом

.footer__bottom-bg



