section.gerry
    .container
        h3.gerry__title
            | Gerryville

        .gerry__slider
            .gerry__slide
                .gerry__slide-img
                    img(src="img/slide.png")

                .gerry__slide-elem
                    p.gerry__slide-title
                        | Delivering Kisses And
                        br
                        | Miracles

                    p.gerry__slide-author
                        | Port Ivy

                .gerry__slide-elem
                    p.gerry__slide-title
                        | Delivering Kisses And
                        br
                        | Miracles

                    p.gerry__slide-author
                        | Port Ivy

                .gerry__slide-elem
                    p.gerry__slide-title
                        | Delivering Kisses And
                        br
                        | Miracles

                    p.gerry__slide-author
                        | Port Ivy

            .gerry__slide
                .gerry__slide-img
                    img(src="img/slide.png")

                .gerry__slide-elem
                    p.gerry__slide-title
                        | Delivering Kisses And
                        br
                        | Miracles

                    p.gerry__slide-author
                        | Port Ivy

                .gerry__slide-elem
                    p.gerry__slide-title
                        | Delivering Kisses And
                        br
                        | Miracles

                    p.gerry__slide-author
                        | Port Ivy

                .gerry__slide-elem
                    p.gerry__slide-title
                        | Delivering Kisses And
                        br
                        | Miracles

                    p.gerry__slide-author
                        | Port Ivy

            .gerry__slide
                .gerry__slide-img
                    img(src="img/slide.png")

                .gerry__slide-elem
                    p.gerry__slide-title
                        | Delivering Kisses And
                        br
                        | Miracles

                    p.gerry__slide-author
                        | Port Ivy

                .gerry__slide-elem
                    p.gerry__slide-title
                        | Delivering Kisses And
                        br
                        | Miracles

                    p.gerry__slide-author
                        | Port Ivy

                .gerry__slide-elem
                    p.gerry__slide-title
                        | Delivering Kisses And
                        br
                        | Miracles

                    p.gerry__slide-author
                        | Port Ivy