header.header
    .container
        .header__language
            p.header__language-type
                | rus

            p.header__language-type
                | eng

            p.header__language-type.header__language-type--mod
                | chn

        .header__logo
            img(src="img/logo.png")

        nav.header__menu
            ul.header__menu-list
                li
                    a(href="#") Раздел №1
                li
                    a(href="#") Раздел №2
                li
                    a(href="#") Раздел №3
                li
                    a(href="#") Раздел №4
                li
                    a(href="#") Раздел №5

        a(href="#").header__search
            img(src="img/icons/fill-2.png")


