section.money
    .container
        .money__text-wrapper
            h3.money__title
                | Save Money The Crock Pot Way

            p.money__descr
                | Two Questions To Ask About Bird
                br
                | Flu Vaccines

            p.money__sub-descr
                | If you are a male over the age of 40 and are suffering
                br
                | from weakness, impotence, pain, stiffness, drooping
                br
                | muscles, depression, anxiety, or heat intolerance, you
                br
                | may be experiencing “andropause”.

            span.money__arrow
                img(src="img/icons/arrow-next.png")