section.reason
    .container
        .reason__box
            p.reason__box-description
                | Top 3 Reasons Why
                br
                | You Need Cookie:

            p.reason__box-elem
                | Jeffery Ramos

            p.reason__box-elem.reason__box-elem--mod
                | Joe Robinson

