section.rebec
    .container
        .rebec__box
            h3.rebec__box-title
                | Rebeccamouth

            p.rebec__box-descr
                | South Justicestad

            p.rebec__box-sub-descr
                | Lorem ipsum dolor sit amet, consectetur
                br
                | adipiscing elit. Aenean euismod bibendum
                br
                | laoreet. Proin gravida dolor sit amet lacus
                br
                | accumsan et viverra justo commodo. Proin

            p.rebec__box-more
                | Подробнее