section.rosa
    .container
        h3.rosa__title
            | Rosaburgh

        p.rosa__descr
            | Unmatched Toner Cartridge Quality
            br
            |  20 Less Than Oem Price

        p.rosa__sub-descr
            | A Pocket PC is a handheld computer, which features many of the same capabilities
            br
            | as a modern PC. These handy little devices allow individuals to retrieve and store
            br
            | e-mail messages, create a contact file, coordinate appointments.

        p.rosa__more
            | Подробнее