section.tips

        .tips__box-tricks
            h3.tips__box-tricks-title
                | Perfume Tips Tricks

            .tips__box-tricks-img
                img(src="img/block-image.png")

            p.tips__box-tricks-place
                | Kittyfort

            .tips__arrow
                img(src="img/icons/arrow-next.png")

        .tips__box-lifts
            h3.tips__box-lifts-title
                | Breast Lifts

            p.tips__box-lifts-descr
                | Cartwrightborough

            p.tips__box-lifts-sub-descr
                | Summer is often synonymous with beaches,
                br
                | ballparks and barbecues, all offering tempting
                br
                | snacks and treats. To many women who are
                br
                | watching their weight, the back-to-school
                br
                | season is an ideal time to enroll in their own
                br
                | “Making Smarter Food Choices 101″ class and
                br
                | refocus on a balanced diet and healthy
                br
                | lifestyle.

            .tips__arrow.tips__arrow--mod
                img(src="img/icons/arrow-next.png")