.baner {
  position: relative;
  float: left;
  width: 100%;
  height: 690px;
  margin-top: 20px;
  background-image: url("../img/baner.png");
  background-repeat: no-repeat;
  background-size: cover;

  &__numbers {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 320px;
    left: 156px;
    color: white;

    @include breakpoint(max-width 320px) {
      left: 10px;
    }

    &-elem {
      position: relative;
      float: left;
      font-family: $PtSans;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      margin-right: 16px;

      &::before {
        position: absolute;
        display: inline;
        content: "";
        width: 2px;
        height: 23px;
        background-color: #ff351b;
        left: 18px;
        top: 1px;
      }

      &:last-of-type::before {
        display: none;
      }
    }
  }

  &__description {
    position: absolute;
    top: 365px;
    left: 170px;

    @include breakpoint(max-width 320px) {
      left: 14px;
    }

    &-elem {
      font-family: $PtSerif;
      font-size: 48px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #ffffff;

      @include breakpoint(max-width 1024px) {
        font-size: 28px;
      }

      &:before {
        position: absolute;
        content: "";
        display: inline;
        width: 2px;
        height: 45px;
        background-color: #ff351b;
        top: 100%;
        left: 6px;
      }
    }
  }

  &__more {
    position: absolute;
    top: 583px;
    left: 173px;

    @include breakpoint(max-width 1024px) {
      top: 517px;
    }

    @include breakpoint(max-width 320px) {
      top: 547px;
      left: 17px;
    }

    &-elem {
      font-family: $PtSerif;
      font-size: 24px;
      font-weight: normal;
      font-style: italic;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ff351b;

      @include breakpoint(max-width 1024px) {
        font-size: 14px;
      }
    }
  }

  &__group {
    position: absolute;
    top: 114px;
    right: 113px;
    width: 243px;
    height: 471px;
    overflow: hidden;

    @include breakpoint(max-width 320px) {
      right: 20px;
      width: 168px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__arrow {
    position: absolute;
    top: 338px;
    right: 80px;

    @include breakpoint(max-width 320px) {
      right: 16px;
    }
  }
}
