.money {
  position: relative;
  float: left;
  width: 100%;
  height: 589px;
  background-image: url("../img/second-section.png");
  background-repeat: no-repeat;
  background-size: cover;

  &__text-wrapper {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 60px;
    margin-left: 170px;

    @include breakpoint(max-width 320px) {
      margin-left: 0;
    }
  }

  &__title {
    position: relative;
    float: left;
    width: 100%;
    font-family: $PtSans;
    font-size: 34px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #ffffff;
  }

  &__descr {
    position: relative;
    float: left;
    width: 100%;
    font-family: $PtSans;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: orangered;
    margin-top: 80px;
    margin-bottom: 10px;
  }

  &__sub-descr {
    position: relative;
    float: left;
    width: 100%;
    font-family: $PtSans;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #ffffff;
  }

  &__arrow {
    position: absolute;
    top: 174px;
    right: 80px;
    overflow: hidden;
    width: 10px;
    height: 20px;

    @include breakpoint(max-width 1024px) {
      right: 20%;
    }

    @include breakpoint(max-width 768px) {
      right: 30%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}