.reason {
  position: relative;
  float: left;
  width: 100%;

    &__box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 90px;
      margin-bottom: 90px;

        &-description {
          font-family: $PtSans;
          font-size: 34px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          color: #636363;
          margin-left: 76px;
        }

      &-elem {
        position: relative;
        font-family: $PtSans;
        font-size: 28px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.21;
        letter-spacing: normal;
        color: #ff351b;
        margin-left: 84px;
        margin-top: 11px;

        &:before {
          position: absolute;
          display: inline;
          content: "";
          width: 330px;
          height: 2px;
          background-color: #ababab;
          top: 40px;
        }

        &:after {
          position: absolute;
          display: block;
          content: "";
          width: 17px;
          height: 10px;
          background-image: url("../img/group-5.png");
          background-repeat: no-repeat;
          right: -100%;
          top: 20px;
        }

        &--mod {
          margin-left: 218px;

          &:after {
            position: absolute;
            display: block;
            content: "";
            width: 17px;
            height: 10px;
            background-image: url("../img/group-5.png");
            background-repeat: no-repeat;
            right: -112%;
            top: 20px;
          }
        }
      }
    }
}