doctype html
html
    head(lang='en')
        include ../elements/html_open

    body
        include ../mixins/mixins
        include ../elements/header
        include ../elements/baner
        include ../elements/reason
        include ../elements/rosaburgh
        include ../elements/gerry
        include ../elements/count
        include ../elements/money
        include ../elements/tips
        include ../elements/footer
        include ../elements/html_close